
<!DOCTYPE html>
<html lang="en">
  <% layout('layouts/user-layout')%>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in or sign up</title>
  <!-- <link rel="stylesheet" href="/site2-sunspel/styles/logIn.css"> -->
</head>
<body class="signUp">
  <header></header>
  <main class="signUp">
    <div>
      <h2 class="signUp">Log in or sign up</h2>
      <h3 class="signUp">Registered Customers</h3>
      <p>If you have an account, sign in with your email address.</p>
      <form action="" method="post" >
        <div>
          <label for="email" class="signUp required" >EMAIL ADDRESS</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="password" class="signUp required">PASSWORD</label>
          <input type="password" id="password" name="password"  required>
        </div>
        <div>
          <input type="checkbox" id="remember" checked name="remember" value="yes">
          <label for="remember">REMEMBER ME</label>
        </div>
        <input type="submit" value="SIGN IN" name="userLogIn">
        <a href="" class="signUp">Forgotten Your Password?</a>
      </form>
    </div>
    <div>
      <h2 class="signUp">New Customers</h2>
      <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>

      <form action="/signUp">
      <button type="submit" action="/signUp">CREATE AN ACCOUNT</button>
      </form>

    </div>
  </main>
</body>
</html>