
<!DOCTYPE html>
<html lang="en">
  <% layout('layouts/user-layout')%>
<body class="signUp">
  <header></header>
  <main class="signUp">
    <h1 class= "signUp">REGISTER:</h1>
    <p class="userChoice signUp">Register a new account or <a href="login" class="signUp">sign in.</a></p>
    <form action="" method="POST" >
      <fieldset name="userInfo" class="userInfo">
        <div>
          <label for="prefix" class="inputLabel signUp">PREFIX</label>
          <select name="prefix" id="prefix">
            <option value="" default></option>
            <option value="mr">Mr</option>
            <option value="ms">Ms</option>
            <option value="mrs">Mrs</option>
            <option value="miss">Miss</option>
          </select>
        </div>
        <div>
          <label for="firstName" class="inputLabel required signUp">FIRST NAME</label>
          <input type="text" id="firstName" name="firstName" class="textInput" required >
           <!-- TRYING TO ADD A WARNING IF REQ'D NOT FILLED -->
            <!-- <p class="requiredWarning"></p> -->
        </div> 
        <div>
          <label for="lastName" class="inputLabel required signUp">LAST NAME</label>
          <input type="text" id="lastName" name="lastName" class="textInput" required>
        </div>
        <div>
          <input type="checkbox" id="newsletter" checked name="newsletter" value="yes" class="checkboxInput">
          <label for="newsletter" class=" checkboxLabel">SIGN UP FOR OUR NEWSLETTER</label>
        </div>
        <div>
          <label for="dateob" class="inputLabel">DATE OF BIRTH</label>
          <input type="date" id="dateob" name="dob" class="dateInput">
        </div>

        <div>
          <p id="interested">INTERESTED IN</p>
          <p><input type="radio" id="mens" name= "gender" value="mens" class="signUp">
          <label for="mens" class="inputLabel genderSelect">Men's</label></p>
          <p><input type="radio" id="womens" name="gender" value="womens" class="signUp">
          <label for="womens" class="inputLabel genderSelect">Women's</label></p>
        </div>
      </fieldset>

      <fieldset name="userLogIn" class="userLogIn">
        <h2 class="signUp">SIGN-IN INFORMATION</h2>
        <div>
          <label for="email" class="inputLabel required signUp">EMAIL ADDRESS</label>
          <input type="email" id="email" name="email" class="textInput" required>
        </div>
        <div>
          <label for="password" class="inputLabel required signUp ">PASSWORD</label>
          <input type="password" id="password" name="password" class="textInput password" onkeyup="passwordChecker()" required>
          <span id="passwordMeter" class="passwordMeter signUp">Password Strength: No Password</span>
          <span id="passwordWarning" class="signUp"></span>
        </div>
        <div>
          <label for="confPassword" class="inputLabel required signUp">CONFIRM PASSWORD</label>
          <input type="password" id="textInput" name="confPassword" class="textInput" required>
        </div>
        <div>
          <input type="checkbox" id="remember" checked name="remember" value="yes" class="checkboxInput">
          <label for="remember" class="checkboxLabel">REMEMBER ME</label>
        </div>
        <div>
          <button type="submit" class="signUp" id="submit" onclick="isRequired()">CREATE AN ACCOUNT</button>
        </div>
      </fieldset>
    </form>
  </main>
  <script src="/js/signUp.js"></script>
</body>
</html>