
<!DOCTYPE html>
<html lang="en">
    <% layout('layouts/user-layout')%>
<body class="signUp">
  <header></header>
  <main class="signUp">
    <h1 class= "signUp">REGISTER:</h1>
    <p class="userChoice">Register a new account or <a href="login" class="signUp">sign in.</a></p>
    <form action="" method="POST" >
      <fieldset name="userInfo" class="userInfo">
        <div>
          <label for="prefix" class="input_label signUp">PREFIX</label>
          <select name="prefix" id="prefix">
            <option value="" default></option>
            <option value="mr">Mr</option>
            <option value="ms">Ms</option>
            <option value="mrs">Mrs</option>
            <option value="miss">Miss</option>
          </select>
        </div>
        <div>
          <label for="firstName" class="input_label required signUp">FIRST NAME</label>
          <input type="text" id="firstName" name="firstName" class="textInput" required>
        </div>
        <div>
          <label for="lastName" class="input_label required signUp">LAST NAME</label>
          <input type="text" id="lastName" name="lastName" class="textInput" required>
        </div>
        <div>
          <input type="checkbox" id="remember" checked name="remember" value="yes">
          <label for="remember" >SIGN UP FOR OUR NEWSLETTER</label>
        </div>
        <div>
          <label for="dateob">DATE OF BIRTH</label>
          <input type="date" id="dateob" name="dob">
        </div>

        <div>
          <p>INTERESTED IN:</p>
          <p><input type="radio" id="mens" name= "gender" value="mens">
          <label for="mens">Men's</label></p>
          <p><input type="radio" id="womens" name="gender" value="womens">
          <label for="womens">Women's</label></p>
        </div>
      </fieldset>
      <hr class="break">
      <fieldset name="userLogIn" class="userLogIn">
        <h2>--SIGN-IN INFORMATION--</h2>
        <div>
          <label for="email" class="input_label required signUp">EMAIL ADDRESS</label>
          <input type="email" id="email" name="email" class="textInput" required>
        </div>
        <div>
          <label for="password" class="input_label required signUp">PASSWORD</label>
          <input type="password" id="textInput" name="password" class="textInput" pattern="[0-9a-zA-Z]{8-10}" required>
        </div>
        <div>
          <label for="confPassword" class="input_label required signUp">CONFIRM PASSWORD</label>
          <input type="password" id="textInput" name="confPassword" class="textInput" required>
        </div>
        <div>
          <input type="checkbox" id="remember" checked name="remember" value="yes">
          <label for="remember">REMEMBER ME</label>
        </div>
        <div>
          <button type="submit">REGISTER</button>
        </div>
      </fieldset>
    </form>
  </main>
</body>
</html>