<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signUp">signUp</a></li>
      </ul>
</body>
</html>