<% layout('layouts/user-layout')%>
    <section class="featured-products">
        <div class="container">
            <h1 class="section-title">FEATURED PRODUCTS</h1>
            <ul class="carousel__slider">
                <li class="carousel__item">
                    <a href="/1">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/51568/d1bdf6c1c27e38481c0929de21aff2727834d3225c8ffca6465db53951cf060da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">David Shrigley and Sunspel Lambswool Penguin Jumper
                                    in
                                    Ecru Melange</h1>
                                <div>£250.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/2">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/51141/a260a4161f825b23d74487dfa1c4d05fa4f7a93568af2dbaeea62fc1e1e30c40a/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Merino Wool Fisherman Jumper in Ecru</h1>
                                <div>£275.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/3">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="carousel__item">
                    <a href="/4">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/5">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/6">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/7">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="carousel__item">
                    <a href="/8">
                        <div class="product-card">
                            <img class="product-card__media"
                                src="https://thumbs.nosto.com/quick/magento-72e97681/8/30085/e5cab2926765dbfd34b1e4729fa1f413f1043112d13d7a507879daaf5018f88da/A"
                                alt="">
                            <div class="product-card__content">
                                <h1 class="product-card__title">Men's Cotton Loopback Sweatshirt in Grey Melange
                                </h1>
                                <div>£110.00</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>