/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&display=swap');

/** Base */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 300;
	color: #3C3C3C;
}

img {
	width: 100%;
}

.container {
	max-width: 1080px;
	padding: 0 1rem;
	margin: 0 auto;
}

.section-title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3rem;
	text-align: center;
	margin: 2.2rem 0;
}

/** Featured Products Section  */
.featured-products {
}

/** Carousel */
.carousel {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: white;
}

.carousel__slider {
	display: flex;
	transition: all .4s ease-in-out;
	width: 100%;
}

.carousel__control {
	position: absolute;
	z-index: 1;
	font-size: 3rem;
	font-weight: 600;
	color: #575757;
}

.carousel__control--left {
	left: 0;
}

.carousel__control--right {
	right: 0;
}

.carousel__item {
	flex-shrink: 0;
	width: 50%;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {     

    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.carousel__item {
		width: 25%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/** Product Card */
.product-card {
	padding: 1.25rem;
}

.product-card__media {
	height: 130px;
	object-fit: contain;
}

.product-card__content {
	margin-top: .5rem;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 1.3px;
}

.product-card__title {
	margin-bottom: 1rem;
}



