body.signUp {
    /* background-image: url("/site2-sunspel/images/shop_background.jpg");
    background-attachment: fixed; */
    font-family: 'Lato', sans-serif;
}

h1.signUp {
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 1.5em;
}

h2.signUp {
    text-align: center;
    margin-bottom: 1.5em;
}

main.signUp {
    font-size: 12px;
    line-height: 1em;
    padding: 1em;
    background-color: white;
}

a.signUp {
    color :black;
}

form label.signUp.required:after{
    color:red;
    content: " *";
}
#prefix {
    width: 20%;
    display: block;
    padding: 1em ;
    margin: 1em 40% 0 19%;
    
}

#prefix:hover {
    background-color: antiquewhite;
}

.userChoice {
    text-align: center;
    font-size: 12px;
    margin-bottom: 4em;
    
}

.userLogIn {
    border: none;
    margin: 0 10%;
    align-items: center;
}

.input_label {
    font-size: 12px;
    margin: 0 19%;
    text-align: center;
    
}

.textInput {
    width: 60%;
    margin: .75em auto;
    display: block;
    padding: 1em;
    padding-right: 0.25em;
    border: 1px solid black;
}

.textInput:hover {
    background-color: antiquewhite;
}

div {
    margin-bottom: 2em;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#remember{
    border-radius: 0%;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}



.userInfo {
    border: none;
    margin: 0 10%;
    align-items: center;
}

button {
    height: 2em;
    font-size: 2em;
    width: 100%;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 700;
    color: white;
    background-color: black;
    margin: 0 0 0 0.7em;
    padding-right: 0.7em;
}