<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
  <header></header>
  <main>
    <h1>REGISTER</h1>
    <p>Register a new account or <a href="logIn.html">sign in</a></p>
    <form action="" method="POST">
      <fieldset name="userInfo">
        <div>
          <label for="prefix">PREFIX</label>
          <select name="prefix" id="prefix">
            <option value="default" default> &#10003;</option>
            <option value="mr">Mr</option>
            <option value="ms">Ms</option>
            <option value="mrs">Mrs</option>
            <option value="miss">Miss</option>
          </select>
        </div>
        <div>
          <label for="firstName">FIRST NAME</label>
          <input type="text" id="firstName" name="firstName" required>
        </div>
        <div>
          <label for="lastName">LAST NAME</label>
          <input type="text" id="lastName" name="lastName" required>
        </div>
        <div>
          <input type="checkbox" id="newsletter" checked name="newsletter" value="yes">
          <label for="newsletter">SIGN UP FOR NEWSLETTER</label>
        </div>
        <div>
          <label for="dateob">DATE OF BIRTH</label>
          <input type="date" id="dateob" name="dob">
        </div>
        <div>
          <p>INTERESTED IN</p>
          <input type="radio" id="mens" name= "gender" value="mens">
          <label for="mens">Men's</label>
          <input type="radio" id="womens" name="gender" value="womens">
          <label for="mens">Women's</label>
        </div>
      </fieldset>
      <fieldset name="userLogIn">
        <h2>SIGN-IN INFORMATION</h2>
        <div>
          <label for="email">EMAIL ADDRESS</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <label for="confPassword">CONFIRM PASSWORD</label>
          <input type="password" id="confPass
         word" name="confPassword" required>
        </div>
        <div>
          <input type="checkbox" id="remember" checked name="remember" value="yes">
          <label for="remember">REMEMBER ME</label>
        </div>
        <div>
          <input type="submit" value="CREATE AN ACCOUNT">
        </div>
      </fieldset>
    </form>
  </main>
</body>
</html>